name: Build & test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly
        features:
          - serde
          - serde,base64
          - simd_backend
          - default
        os:
          - ubuntu-18.04
          - ubuntu-20.04
          - macos-10.15
          - windows-2019
        exclude:
          - rust: stable
            features: simd_backend
          - rust: beta
            features: simd_backend
          - os: windows-2019
            features: simd_backend
    runs-on: ${{ matrix.os }}
    env:
      FEATURES: ${{ matrix.rust == 'nightly' && matrix.features || join(matrix.features, ",nightly") }}
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt, clippy
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --features $FEATURES
      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --features $FEATURES
      - name: Rustfmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --features $FEATURES -- -D warnings
